<a href="https://colab.research.google.com/github/Rishav273/Ineuron-Assignments/blob/main/Ineuron_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly  like Python's built-in function reduce()

In [1]:
def myreduce(function,mylist):
  x=mylist[0]

  for i in range(1,len(mylist)):
  	x = function(x,mylist[i])
  return (x)

def multiply(a,b):
  return a*b

test_list=[1,5,10,15]

myreduce(multiply,test_list)

750

1.2 Write a Python program to implement your own myfilter() function which works exactly  like Python's built-in function filter()

In [2]:
# Creating a filter function to select only numbers divisible by 5 from a list:

def myfilter(div_by_five,input_list):
    list_3 = []
    for i in input_list:
      if div_by_five(i):
        list_3.append(i)
    return list_3

def div_by_five(a):
    if a % 5 == 0:
      return True
    else:
      return False

list_2=[2,3,4,5,6,7,8,9,10,12,15]
myfilter(div_by_five,list_2)

[5, 10, 15]

2. Implement List comprehensions to produce the following lists.  
Write List comprehensions to produce the following Lists 


['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']  

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [3]:
# 1.

[i*j for i in 'xyz' for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [4]:
[ i*j for j in range(1,5) for i in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [5]:
numeric_list = [2,3,4]
result = [ [item+num] for item in numeric_list for num in range(0,3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [6]:
var = [2,3,4,5,6,7,8]

[ var[i:i+4] for i in range(0,len(var)-3)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [7]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print(str(result))

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]